# Configuración del servidor
PORT=3000

# Variables de Base de Datos para Railway (MariaDB)
MYSQLHOST=your_railway_host
MYSQLPORT=your_railway_port
MYSQLUSER=your_railway_user
MYSQLPASSWORD=your_railway_password
MYSQLDATABASE=your_railway_database

# La URL de Prisma se construye usando las variables anteriores o puedes proporcionarla directamente
DATABASE_URL="mysql://${MYSQLUSER}:${MYSQLPASSWORD}@${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}"
